/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
@font-face {
  font-family:'HongHaHep';
  src: url('fonts/HongHaHep.html');
  src: url('fonts/HongHaHepd41d.html?#iefix') format('embedded-opentype'),
       url('fonts/HongHaHep.woff') format('woff'),
       url('fonts/HongHaHep-2.html') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'HongHaHep',sans-serif;
src: url(fonts/UTMbebas.ttf);
}
body {
	max-width: 100%;
	overflow: hidden;
	    font-family: 'HongHaHep',sans-serif;
	font-weight: 300;
}
h1,h2,h3,h4,strong,b {
    font-family: 'HongHaHep',sans-serif;
	font-weight: 300;
}
.header-bottom-nav > li > a {
    font-family: 'HongHaHep',sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#wrapper, #main {
    background-color: rgb(245, 245, 245);
}

body .nav-spacing-xlarge>li {
    margin: 0;
}
body .nav-spacing-xlarge>li > a {
    padding: 0 28px;
}
body .nav-divided>li+li>a:after {
	left: 0;
}
.blog-single  .entry-header .entry-header-text {
	padding-bottom: 0;
}
.entry-content.single-page {
	padding-top: 0;
}
.shop-page-title {
	display: none;
}

span.widget-title {
	font-size: 15px !important;
	    font-family: 'HongHaHep',sans-serif;
	font-weight: 300;
}
span.widget-title:before {
	content: "\f0c9";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit; 
	color:#fbcf26; 
	font-size:20px; 
	padding-right:10px;
	position:relative; 
	top:1px;
}
.post-meta:before {
	content: "\f133";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit; 
	color:#c2c2c2; 
	padding-right:10px;
}
.blog-tt1 .post-title:before {
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit; 
	color:#fbcf26; 
	padding-right:10px;
}
body .blog-tt1 .post-title {
	font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#menu-menu-sb1 a:before {
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit; 
	color:#fbcf26;
	padding-right:5px;
}

.blog-tt2 .box-text:before,
.blog-tt3 .box-text:before {
    content: '';
    position: absolute;
    background: url(../../uploads/2021/08/e2.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    background-size: 70%;
}
.blog-tt2 .box-text:before {
	background: url(../../uploads/2021/08/e1.png) 0 0 no-repeat;
    background-size: 70%;
}
.tieude-sp i {
	padding-right: 10px;
}
.post-meta .view {
	padding-left: 10px;
}
.blog-thuvien .date-time {
	display: none;
}
.blog-thuvien .post-meta:before  {
	display: none;
}
.blog-thuvien .post-meta .view {
	padding-left: 0;
}
/* */
.sidebar .col.post-item {
	padding-bottom: 0;
}
.sidebar .col.post-item .col-inner {
	border-bottom: 1px dashed #eee;
}
.sidebar .blog-thuvien .col.post-item .col-inner{
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.sidebar .blog-thuvien .col.post-item:last-child .col-inner {
	border-bottom: 0;
	padding-bottom: 0;
}
.blog-tt5 .from_the_blog_excerpt  {
	font-size: 13px;
}
.entry-content.single-page * {
	font-size: 90%;
}
/* */
.row-bg {
	background: #fff;
	margin: 0 !important;
	padding-top: 15px;
}

/* */
.sidebar-12 {

}
.sidebar-12 > .col > .col-inner,
.sp-dichvu > .col-inner {
	border-radius: 7px ;
	overflow: hidden;
}

.sp-dichvu > .col-inner .widget {
	margin-bottom: 0;
}
body:not(.home) .col.cot2 .col-inner{
	background: #fff;
	border-radius: 7px 7px 0 0 ;
	overflow: hidden;
}
body:not(.home) .col.cot2 .col-inner > article {
	margin-bottom: 0;
}
body:not(.home) .col.cot2 .entry-content.single-page{
	padding: 0 10px;
}
.blog-wrapper.blog-archive {
	padding-top: 0;
}
body:not(.home) .col.cot2 .col.post-item .col-inner {
	padding: 0 10px;
}
.single .tieude-sp {
	margin-bottom: 10px;
}
#nav-below .text-left {
	padding-left: 10px;
}
#nav-below .text-right {
	padding-right: 10px;
}
#nav-below a {
	font-size: 13px;
}
#today {
    color: #000;
    font-weight: bold;
}
@media only screen and (max-width: 767px) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/

	body .nav-spacing-xlarge>li > a {
		padding: 0 26px;
	}
}